.AboutContent-first {
  //   border: 1px solid red;
  //   background: rgba(153, 212, 226, 0.1);
  //   background: rgba(63, 88, 166, 0.1);
  background: rgba(48, 78, 133, 0.2);

  .AboutContent-about {
    max-width: 1300px;
    margin: 0 auto;
    padding: 9rem 0.5rem;
    //  border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $med-desktop) {
      width: 85%;
    }

    @media (max-width: $sm-desktop) {
      flex-wrap: wrap-reverse;
      padding: 7rem 0.5rem;
      justify-content: center;
    }

    @media (max-width: $lg-phone) {
      width: 100%;
    }

    .img-wrapper {
      width: 550px;
      height: 350px;
      @media (max-width: $med-desktop) {
        width: 500px;
        height: 350px;
      }

      @media (max-width: $sm-desktop) {
        //   border: 1px solid red;
        width: 90%;
        //   height: 300px;
      }

      @media (max-width: $lg-phone) {
        //  border: 1px solid red;

        height: 250px;
      }
      img {
        //   width: 300px;
        //   // border: 1px solid red;
        //   height: 300px;
        //   //   border-radius: 50%;

        //   width: 550px;
        //   // border: 1px solid red;
        //   height: 355px;

        width: 100%;
        //   border: 1px solid red;
        height: 100%;
        //   object-fit: contain;
        //   height: 350px;

        @media (max-width: $sm-desktop) {
          //  border: 1px solid red;
          width: 100%;
          //   height: 300px;
        }

        @media (max-width: $lg-phone) {
          //  border: 1px solid red;
          object-fit: fill;
          //   height: 300px;
        }
      }
    }

    .video-wrapper {
      // border: 1px solid red;
      width: 53%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $med-desktop) {
        margin-left: 2rem;
      }

      @media (max-width: $sm-desktop) {
        width: 90%;
        margin-bottom: 2.5rem;
        margin-left: 0;
      }

      @media (max-width: $lg-phone) {
        //  border: 1px solid red;
        //   margin-bottom: 0;
      }

      h3 {
        text-transform: uppercase;
        color: #3f58a6;
        margin-bottom: 0.4rem;
        margin-top: -1rem;
        font-size: 1.1rem;

        @media (max-width: $lg-phone) {
          //  border: 1px solid red;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
      h2 {
        //   text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1.3rem;
        // font-size: 2.5rem;
        // text-transform: capitalize;

        @media (max-width: $lg-phone) {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
      }

      p {
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 1.5;
        @media (max-width: $lg-phone) {
          font-size: 0.9rem;
          margin-bottom: 1.5rem;
        }

        @media (max-width: $galaxy) {
          font-size: 0.8rem;
        }
      }

      a {
        border: 1px solid red;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;

        background: #3f58a6;
        color: white;
        border: none;
        font-size: 0.9rem;
      }
    }
  }
}

.AboutContent-second {
  background: rgba(186, 197, 229, 0.2);
  //   background: #f4f4f4;
  background: rgba(145, 159, 201, 0.2);
  background: rgba(98, 115, 168, 1);
  background: rgba(48, 78, 133, 0.2);
  background: none;

  .AboutContent-why {
    max-width: 1300px;
    margin: 0 auto;
    padding: 9rem 0.5rem;
    display: flex;
    justify-content: space-between;
    //  border: 1px solid red;

    @media (max-width: $med-desktop) {
      width: 85%;
    }

    @media (max-width: $sm-desktop) {
      flex-wrap: wrap;
      padding: 7rem 0.5rem;
      justify-content: center;
    }

    @media (max-width: $lg-phone) {
      width: 100%;
    }

    .description-wrapper {
      width: 53%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid blue;

      @media (max-width: $med-desktop) {
        margin-right: 2rem;
      }

      @media (max-width: $sm-desktop) {
        width: 90%;
        //   margin-bottom: 2.5rem;
        margin-right: 0;
      }
      h3 {
        text-transform: uppercase;
        color: #3f58a6;
        margin-bottom: 0.4rem;
        margin-top: -1rem;
        font-size: 1.1rem;

        @media (max-width: $lg-phone) {
          //  border: 1px solid red;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
      h2 {
        //   text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1.3rem;
        // font-size: 2.5rem;
        // text-transform: capitalize;

        @media (max-width: $lg-phone) {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
      }

      p {
        font-size: 1rem;
        margin-bottom: 2rem;
        //   border: 1px solid red;
        line-height: 1.5;

        @media (max-width: $lg-phone) {
          font-size: 0.9rem;
          margin-bottom: 1.5rem;
        }

        @media (max-width: $galaxy) {
          font-size: 0.8rem;
        }
      }

      a {
        //   border: 1px solid red;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;

        background: #3f58a6;
        color: white;
        border: none;
      }
    }
    .finance-help {
      // border: 1px solid red;
      width: 550px;

      @media (max-width: $sm-desktop) {
        width: 90%;
        //   margin-bottom: 2.5rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: 2rem;
        //   border: 1px solid red;
        line-height: 1.5;

        @media (max-width: $lg-phone) {
          font-size: 0.9rem;
          margin-bottom: 1.5rem;
        }

        @media (max-width: $galaxy) {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.AboutContent-third {
  background: rgba(48, 78, 133, 0.2);
  .Content-us {
    //  border: 1px solid red;
    max-width: 1300px;
    margin: 0 auto;
    padding: 9rem 0.5rem;

    @media (max-width: $med-desktop) {
      width: 85%;
    }

    @media (max-width: $sm-desktop) {
      flex-wrap: wrap;
      padding: 7rem 0.5rem;
      justify-content: center;
    }

    @media (max-width: $lg-phone) {
      width: 100%;
    }

    .package-us {
      // @media (max-width: $med-desktop) {
      //   margin-right: 2rem;
      // }

      // @media (max-width: $sm-desktop) {
      //   width: 100%;
      // }
      h3 {
        text-align: center;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-bottom: 0.4rem;
        color: #3f58a6;

        @media (max-width: $lg-phone) {
          //  border: 1px solid red;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
      h2 {
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1.3rem;
        // font-size: 2.5rem;
        // text-transform: capitalize;

        @media (max-width: $lg-phone) {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
      }

      p {
        line-height: 1.5;
        //   border: 1px solid red;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        //   font-size: 1.1rem;

        @media (max-width: $lg-phone) {
          font-size: 0.9rem;
          //  margin-bottom: 1.5rem;
        }

        @media (max-width: $galaxy) {
          font-size: 0.8rem;
        }

        span {
          font-weight: bold;
          //  color: #3f58a6;
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.AboutContent-forth {
  background: #f4f4f4;
  //   background: rgba(63, 88, 166, 0.1);
  //   background: rgba(145, 159, 201, 0.2);
  //   background: rgba(48, 78, 133, 0.2);

  .AboutContent-why {
    max-width: 1300px;
    margin: 0 auto;
    padding: 9rem 0.5rem;
    //  border: 1px solid red;

    @media (max-width: $med-desktop) {
      width: 85%;
    }

    @media (max-width: $sm-desktop) {
      flex-wrap: wrap;
      padding: 7rem 0.5rem;
      justify-content: center;
    }

    @media (max-width: $lg-phone) {
      width: 100%;
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      color: #3f58a6;
      margin-bottom: 0.4rem;
      font-size: 1.1rem;

      @media (max-width: $lg-phone) {
        //   border: 1px solid red;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }

    h2 {
      text-align: center;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      // font-weight: normal;
      // font-size: 2.5rem;
      // text-transform: capitalize;

      @media (max-width: $lg-phone) {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }

    .description-wrapper {
      display: flex;
      justify-content: space-between;
      // border: 1px solid red;
      width: 90%;
      margin: 0 auto;

      @media (max-width: $lg-phone) {
        font-size: 0.9rem;
      }

      p {
        margin-bottom: 1rem;

        @media (max-width: $galaxy) {
          font-size: 0.8rem;
        }
      }
      span {
        margin-bottom: 0.3rem;
        font-weight: bold;

        @media (max-width: $galaxy) {
          font-size: 0.8rem;
        }
      }
      .important-message {
        font-weight: bold;
      }
    }
  }
}

// question content
.AboutContent-fifth {
  //   transition: all 2s ease;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3f58a6;
    margin-bottom: 2.5rem;
  }

  .AboutContent-why {
    //  border: 1px solid red;
    max-width: 1300px;
    margin: 0 auto;
    padding: 9rem 0.5rem;
    //  transition: all 2s ease;

    //  .question-wrapper {

    //  }
  }
}

// handles toggling questions
.my-collapsible {
  padding: 1rem 1.5rem 0.5rem;
  border-radius: 5px;
  transition: all 2s ease;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 15px 0px rgba(200, 200, 200, 0.5);
  cursor: pointer;

  .btn-arrows {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.5rem;
    }
  }
}

.question {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  background: none;
  text-transform: capitalize;

  width: 90%;
}
.answer {
  font-size: 1rem;
  width: 90%;
}
