.AdminNavbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .inner-wrapper {
    max-width: $max-w;
    margin: 0 auto;
    padding: 1.5rem 0.5rem;

    @include flex(space-between);
    align-items: center;
    text-transform: uppercase;

    @media (max-width: $med-desktop) {
      max-width: 85%;
    }

    @media (max-width: $med-desktop) {
      padding: 1rem 0.5rem;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;

        @media (max-width: $med-phone) {
          width: 42px;
          height: 42px;
        }
      }
      span {
        margin-left: 0.7rem;
        font-size: 1.5rem;
        color: $white;
        font-family: "Noto Sans", sans-serif;

        @media (max-width: $med-phone) {
          font-size: 1.1rem;
        }
      }
    }

    nav {
      button {
        color: $white;

        transition: color 0.3s ease;
        font-size: 0.9rem;
        border: none;
        background: none;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: #d0d1d4;
        }
      }
    }
  }
}
