.AdminSearchForm {
  background: rgba(48, 78, 133, 0.2);

  p {
    text-align: center;
    margin-bottom: 1rem;

    @media (max-width: $lg-phone) {
      font-size: 0.9rem;
    }

    @media (max-width: $galaxy) {
      font-size: 0.8rem;
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 9rem 0.5rem;

    @media (max-width: $sm-desktop) {
      padding: 7rem 0.5rem;
    }

    label {
      width: 100%;
      position: relative;

      input {
        @include inputProps(2rem);
      }

      // ClassNames to add errors if user try to submit empty form
      .errors {
        @include error(3.3rem);
      }
    }

    // ClassNames to add error if there is any coming from the server.

    .error {
      @include error(3.3rem);
    }

    button {
      @include mainButton(0.5rem 1.5rem);
    }
  }
}
