.AdminNavbar {
  //  background: rgb(31, 30, 30);
  //   transition: background 0.5s ease;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .inner-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 1.5rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    @media (max-width: $med-desktop) {
      max-width: 85%;
    }

    @media (max-width: $med-desktop) {
      padding: 1rem 0.5rem;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;

        @media (max-width: $med-phone) {
          width: 42px;
          height: 42px;
        }
      }
      span {
        margin-left: 0.7rem;
        font-size: 1.5rem;
        color: #f4f4f4;
        font-family: "Noto Sans", sans-serif;

        @media (max-width: $med-phone) {
          font-size: 1.1rem;
        }
      }
    }

    nav {
      button {
        color: #f4f4f4;

        transition: color 0.3s ease;
        font-size: 0.9rem;
        border: none;
        background: none;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: #d0d1d4;
        }
      }
    }
  }
}
