.ContactContent-wrapper {
  //   border: 1px solid red;
  //   font-size: 1rem;
  //   background: #f4f4f4;
  .Contact-form {
    max-width: 1300px;
    margin: 0 auto;
    padding: 8rem 0.5rem;

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      // color: #3f58a6;
    }

    .Contact-inner {
      display: flex;
      justify-content: space-between;
      // border: 1px solid red;

      .contact-info {
        //   border: 1px solid blue;
        span {
          margin-bottom: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;

          a {
            // font-weight: normal;
            margin-left: 0.5rem;
            color: #3f58a6;
            text-transform: none;
          }
        }

        p {
          font-weight: bold;
          text-transform: uppercase;
          span {
            font-weight: normal;
            margin-left: 0.5rem;
            text-transform: none;
          }
        }
      }

      .form {
        //   border: 1px solid blue;
        width: 70%;
        form {
          label {
            width: 100%;

            input {
              width: 100%;
              border: 1px solid grey;
              padding: 1rem;
              margin-bottom: 1rem;
              font-size: 1rem;
              border-radius: 4px;
            }

            textarea {
              width: 100%;
              padding: 1rem;
              font-size: 1rem;
              color: #333;
              font-family: "Open Sans", sans-serif;
              border-radius: 4px;
              border: 1px solid grey;
              margin-bottom: 1rem;
            }

            .empty {
              border: 1px solid red;
            }
          }

          button {
            font-size: 0.9rem;
            border-radius: 4px;
            margin-top: -0.1rem;
          }
        }
      }
    }
  }
}

// #picker {
//   color: red;
//   a {
//     color: red;
//   }
//   span {
//     color: blue;
//     background: grey;
//   }

//   p {
//     color: red;
//   }
//   input {
//     color: green;
//   }
// }
.phone-appoinment {
  //   border: 1px solid red;
  margin-top: 1rem;
  h3 {
    text-transform: uppercase;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    form {
      // border: 1px solid red;
      margin-top: -1.5rem;
      width: 70%;

      //   margin: 0 auto;

      //   align-items: center;
      .time-picker {
        margin-bottom: 1rem;
        //   display: none;
        border-radius: 0;
        padding: 0;
        border: none;

        button {
          background: none;
          color: #333;
          border-radius: 0;
          padding: 0.7rem 0.2rem;
          transition: background 0.3s ease;

          &:hover {
            background: rgba(128, 128, 128, 0.2);
          }
        }
      }
      //  .date-time {
      //    // border: 1px solid red;
      //    color: #333;

      //    margin-bottom: 1rem;
      //    input {
      //      padding: 0rem 0.2rem;
      //      //   border: 1px solid red;
      //      border: none;
      //      color: #333;
      //    }

      //    button {
      //      background: none;
      //      //   border: 1px solid red;
      //      color: #333;
      //      border-radius: 0;
      //      padding: 0.7rem 0.2rem;
      //      transition: background 0.3s ease;

      //      &:hover {
      //        background: rgba(128, 128, 128, 0.2);
      //      }
      //    }
      //  }

      label {
        width: 100%;
        input {
          width: 100%;
          border: 1px solid grey;
          padding: 1rem;
          margin-bottom: 1rem;
          font-size: 1rem;
          border-radius: 4px;
        }

        .empty {
          border: 1px solid red;
        }
      }
      button {
        // border: 1px solid red;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;

        background: #3f58a6;
        color: white;
        border: none;
        font-size: 0.9rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
