.form {
  padding-left: 0.5rem;
  font-size: 0.9rem;

  @media (max-width: $m-laptop) {
    width: 550px;
  }

  @media (max-width: $lg-phone) {
    width: 400px;
    font-size: 0.7rem;
  }

  @media (max-width: $galaxy) {
    width: 340px;
    font-size: 0.6rem;
  }

  label {
    input {
      border: none;
      border-bottom: 1px solid black;
      padding: 0 0.5rem;
      color: #333;
    }
  }

  h3 {
    text-align: center;
    font-size: 1rem;
    color: $black;

    @media (max-width: $lg-phone) {
      font-size: 0.9rem;
    }
  }

  // className to add if input is empty
  .not-empty-values {
    border-bottom: 1px solid red;
  }

  .form-title {
    text-align: center;
    margin: 4rem 0 1rem;
    font-size: 1.2rem;
  }

  // TYPE OF PACKAGES START HERE
  .types {
    @include flex(space-between);
    width: 55%;
    margin: 0 auto 2.5rem;

    @media (max-width: $lg-phone) {
      margin-bottom: 1.5rem;
    }

    label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;

      @media (max-width: $lg-phone) {
        font-size: 0.8rem;
      }
      input {
        margin-left: 0.3rem;
      }
    }
  }

  //  USER INFORMATION CONTAINER STARTS HERE
  .subtitle {
    p {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .user-info {
      h3 {
        text-align: start;
        margin-bottom: 1rem;
      }

      label {
        margin-bottom: 1rem;
      }

      .nombre {
        width: 100%;
        input {
          width: 89%;

          @media (max-width: $m-laptop) {
            width: 70%;
          }
        }
      }

      .phone-info {
        display: flex;

        .phone {
          width: 50%;
          input {
            width: 85%;

            @media (max-width: $lg-phone) {
              width: 80%;
            }
          }
        }

        .taxes {
          @media (max-width: $lg-phone) {
            width: 65%;
          }

          span {
            margin-right: 2rem;

            @media (max-width: $lg-phone) {
              margin-right: 0.5rem;
            }
          }

          label {
            margin-right: 1rem;

            input {
              margin-right: 0.2rem;
            }
          }
        }
      }

      .email {
        width: 100%;
        input {
          width: 65%;
        }
      }

      .address1 {
        width: 100%;
        input {
          width: 74%;
        }
      }

      .address {
        display: flex;

        .city {
          width: 35%;

          input {
            width: 75%;
            @media (max-width: $lg-phone) {
              width: 55%;
            }
          }
        }
        .state {
          width: 30%;

          input {
            width: 75%;
            @media (max-width: $lg-phone) {
              width: 55%;
            }
          }
        }
        .zipcode {
          width: 35%;
          input {
            width: 49%;
            @media (max-width: $lg-phone) {
              width: 35%;
            }
          }
        }
      }
    }
  }

  // PROPERTY CONTAINER STARTS HERE
  .property-info {
    h3 {
      text-align: start;
      margin: 1.5rem 0 0.5rem;
    }

    .house {
      display: flex;

      label {
        margin-bottom: 1rem;

        input {
          width: 47%;
          @media (max-width: $lg-phone) {
            width: 35%;
          }
        }
      }
    }

    .construction-type {
      width: 96%;

      @media (max-width: $lg-phone) {
        width: 100%;
      }
      .year-built {
        display: flex;
        span {
          width: 25%;
          @media (max-width: $lg-phone) {
            width: 20%;
          }
        }

        .checkbox-wrapper {
          @include flex(space-between);
          width: 75%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            width: 80%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .ceiling-type {
      width: 97%;

      @media (max-width: $lg-phone) {
        width: 100%;
      }

      .year-built {
        display: flex;
        span {
          width: 25%;

          @media (max-width: $lg-phone) {
            width: 20%;
          }
        }

        .checkbox-wrapper {
          @include flex(space-between);
          width: 60%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            width: 80%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .ceiling-condition {
      width: 97%;

      @media (max-width: $lg-phone) {
        width: 100%;
      }

      .year-built {
        display: flex;
        span {
          width: 25%;

          @media (max-width: $lg-phone) {
            width: 20%;
          }
        }

        .checkbox-wrapper {
          @include flex(space-between);
          width: 50%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            width: 75%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .sombreado-techo {
      width: 97%;

      @media (max-width: $lg-phone) {
        width: 100%;
      }

      .year-built {
        display: flex;
        span {
          width: 25%;
          @media (max-width: $lg-phone) {
            width: 21%;
          }
        }

        .checkbox-wrapper {
          @include flex(space-between);
          width: 33%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            width: 50%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .pool {
      width: 97%;

      .year-built {
        display: flex;
        span {
          width: 25%;
          @media (max-width: $lg-phone) {
            width: 22%;
          }
        }

        .checkbox-wrapper {
          @include flex(space-between);
          width: 15%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            width: 25%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .gate {
      margin-bottom: 1rem;

      span {
        font-weight: bold;
      }
    }

    .HOA {
      display: flex;
      margin-bottom: 1.5rem;
      span {
        margin-right: 1.5rem;
        font-weight: bold;

        @media (max-width: $lg-phone) {
          margin-right: 0.7rem;
        }
      }

      .yes-hoa {
        margin-right: 0.7rem;
        font-weight: bold;

        input {
          margin-right: 0.3rem;
          font-weight: normal;
        }
      }

      .hoa-info {
        width: 54%;

        margin-bottom: 4rem;

        @media (max-width: $lg-phone) {
          margin-bottom: 2rem;
        }
        input {
          width: 79%;

          @media (max-width: $lg-phone) {
            width: 47%;
          }
        }
      }

      .important {
        font-weight: bold;

        #hoa-phone {
          @media (max-width: $lg-phone) {
            width: 70%;
          }
        }
      }
    }
  }

  // POWER INFORMATION CONTAINER STARTS HERE
  .power-info {
    h3 {
      text-align: start;
      margin: 1rem 0;
    }

    .if-panel-close {
      margin-bottom: 1rem;
      span {
        margin-right: 1rem;
      }

      label {
        margin-right: 0.5rem;
        input {
          margin-right: 0.3rem;
        }
      }
    }

    .description-if-panel-close {
      margin-bottom: 1rem;
      label {
        width: 99%;
        input {
          width: 100%;
        }
      }
    }

    .electric-panel-size {
      margin-bottom: 4rem;

      display: flex;

      @media (max-width: $lg-phone) {
        margin-bottom: 2rem;
      }
      span {
        font-weight: bold;
        width: 45%;
        margin-bottom: 0;

        @media (max-width: $lg-phone) {
          width: 80%;
        }
      }

      label {
        input {
          width: 15%;
        }
      }
    }
  }

  // AC-INFORMATION CONTAINER STARTS HERE
  .ac-information {
    h3 {
      text-align: start;
      margin-bottom: 1rem;
    }

    .how-many-acs-wrapper {
      label {
        margin-bottom: 1rem;
        display: block;

        input {
          width: 10%;
        }
      }
    }

    .type-of-header {
      margin-bottom: 1rem;
      span {
        margin-right: 1rem;
      }
      label {
        margin-right: 0.5rem;
        input {
          margin-right: 0.3rem;
        }
      }
    }

    .have-solar-panels {
      margin-bottom: 3rem;
      span {
        margin-right: 1rem;
      }
      label {
        margin-right: 0.5rem;
        input {
          margin-right: 0.3rem;
        }
      }
    }
  }

  // POWER-BILL- INFORMATION CONTAINER STARTS HERE
  .power-bill-info {
    h3 {
      text-align: start;
      margin-bottom: 1rem;
    }
    label {
      margin-right: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;
      input {
        width: 60%;
        margin-left: 0.5rem;

        @media (max-width: $lg-phone) {
          width: 80%;
          margin-left: 0;
        }
      }
    }
  }

  //   .update-file {
  //     margin-bottom: 1rem;
  //     margin-left: -0.5rem;
  //     input {
  //       border: none;
  //       cursor: pointer;
  //     }
  //   }

  .pdf-file-uploader-container {
    label {
      width: 250px;
      margin-bottom: 0.7rem;
      padding: 0.2rem 0;
      cursor: pointer;
      position: relative;

      @media (max-width: $lg-phone) {
        font-size: 0.6rem;
        width: 185px;
      }

      @media (max-width: $galaxy) {
        font-size: 0.5rem;
        width: 160px;
      }
      input {
        cursor: pointer;
        width: 100%;
        border: none;

        @media (max-width: $lg-phone) {
          font-size: 0.7rem;
        }

        @media (max-width: $galaxy) {
          font-size: 0.6rem;
        }
      }
      span {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0.4rem;
        width: 90px;
        border-radius: 4px;
        padding: 0.3rem 0;
        color: $white;
        background: $blue;
        font-size: 0.8rem;
        text-align: center;

        @media (max-width: $lg-phone) {
          font-size: 0.7rem;
          width: 79px;
        }

        @media (max-width: $galaxy) {
          font-size: 0.6rem;
          width: 70px;
        }

        &.empty {
          color: red;
        }
      }
    }
  }
}

// YEARLY INFORMATION CONTAINER STARTS HERE
.yearly-information {
  border: 1px solid grey;
  max-width: 420px;
  margin-bottom: 1rem;

  .month-cost {
    @include flex(space-between);
    text-align: center;
    background: rgb(207, 204, 204);

    span {
      padding: 0.4rem 0rem;
      width: 34%;

      &:nth-child(1) {
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
      }
      &:nth-child(2) {
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
      }
      &:nth-child(3) {
        border-bottom: 1px solid grey;
      }
    }
  }

  .month-and-values {
    .months-container {
      @include flex(space-between);

      align-items: flex-end;

      .not-empty-values {
        color: red;
      }

      span {
        width: 34%;
        text-align: center;
        padding-top: 0.1rem;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        padding-right: 0.1rem;
        padding: 0.2rem 0rem;
      }
      label {
        width: 34%;
        text-align: center;

        input {
          padding-top: 0.6rem;
          background: transparent;
          width: 100%;
          border-bottom: 1px solid grey;
          border-right: 1px solid grey;
        }
      }
      .border {
        border-right: none;
      }

      #diciembre,
      #diciembre-cost {
        border-bottom: none;
      }
      .diciembre {
        border-bottom: none;
      }
    }
  }
}

// UPLOAD IMAGES CONTAINER STARTS HERE
#upload-img-btn {
  .btn-wrapper {
    span {
      font-size: 0.7rem;
      box-shadow: none;
      border-radius: 4px;

      @media (max-width: $lg-phone) {
        font-size: 0.6rem;
      }

      @media (max-width: $galaxy) {
        font-size: 0.5rem;
      }

      &:hover {
        box-shadow: none;
        background: rgb(224, 223, 223);
      }
    }
  }
}

.desc-about-imgs {
  margin-top: 2rem;
  font-size: 0.9rem;

  @media (max-width: $lg-phone) {
    font-size: 0.7rem;
  }
}

.upload-imgs-container {
  margin: 2rem 0 1rem;
  @include flex(space-between);
  width: 75%;
  flex-wrap: wrap;

  @media (max-width: $lg-phone) {
    flex-wrap: wrap;
    width: 100%;
  }

  label {
    width: 250px;
    margin-bottom: 0.7rem;
    padding: 0.2rem 0;
    cursor: pointer;
    position: relative;

    @media (max-width: $lg-phone) {
      font-size: 0.6rem;
      width: 185px;
    }

    @media (max-width: $galaxy) {
      font-size: 0.5rem;
      width: 160px;
    }
    input {
      cursor: pointer;
      width: 100%;
      border: none;

      @media (max-width: $lg-phone) {
        font-size: 0.7rem;
      }

      @media (max-width: $galaxy) {
        font-size: 0.6rem;
      }
    }
    span {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0.4rem;
      width: 90px;
      border-radius: 4px;
      padding: 0.3rem 0;
      color: $black;
      background: rgb(224, 223, 223);
      font-size: 0.8rem;
      text-align: center;

      @media (max-width: $lg-phone) {
        font-size: 0.7rem;
        width: 79px;
      }

      @media (max-width: $galaxy) {
        font-size: 0.6rem;
        width: 70px;
      }

      &.empty {
        color: red;
      }
    }
  }
}

.submit-form {
  @include mainButton(0.5rem 1.5rem);
  margin: 1rem 0 4rem 0.5rem;
  font-size: 0.7rem;

  @media (max-width: $galaxy) {
    font-size: 0.6rem;
  }
}
//783
