.form {
  //   width: 700px;
  //   border: 1px solid red;
  padding-left: 0.5rem;
  font-size: 0.9rem;

  @media (max-width: $m-laptop) {
    width: 550px;
  }

  @media (max-width: $lg-phone) {
    width: 400px;
    font-size: 0.7rem;
  }

  label {
    //  font-size: 0.8rem;
    input {
      border: none;
      border-bottom: 1px solid black;
      padding: 0 0.5rem;
      color: #333;
    }
  }

  h3 {
    text-transform: uppercase;
    //  font-size: 1.2rem;
    text-align: center;
    font-size: 1rem;

    @media (max-width: $lg-phone) {
      font-size: 0.9rem;
    }
  }

  .form-title {
    text-align: center;
    margin: 4rem 0 1rem;
    font-size: 1.2rem;
  }

  .types {
    //  border: 1px solid red;
    display: flex;
    width: 55%;
    margin: 0 auto 2.5rem;
    justify-content: space-between;

    @media (max-width: $lg-phone) {
      margin-bottom: 1.5rem;
    }

    label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;

      @media (max-width: $lg-phone) {
        font-size: 0.8rem;
      }
      input {
        margin-left: 0.3rem;
      }
    }
  }

  .subtitle {
    //  border: 1px solid red;
    //  font-size: 0.9rem;
    p {
      text-align: center;
      margin-bottom: 1.5rem;
      // font-size: 0.9rem;
    }

    .user-info {
      h3 {
        text-align: start;
        margin-bottom: 1rem;
        //   font-size: 1rem;
      }

      label {
        margin-bottom: 1rem;
      }

      .nombre {
        //   border: 1px solid red;
        width: 100%;
        input {
          width: 89%;

          @media (max-width: $m-laptop) {
            width: 70%;
          }
        }
      }

      .phone-info {
        //   border: 1px solid blue;
        display: flex;

        .phone {
          width: 50%;
          input {
            width: 85%;

            @media (max-width: $lg-phone) {
              width: 80%;
            }
          }
        }

        .taxes {
          //  border: 1px solid red;

          @media (max-width: $lg-phone) {
            width: 65%;
          }

          span {
            margin-right: 2rem;

            @media (max-width: $lg-phone) {
              margin-right: 0.5rem;
            }
          }

          label {
            margin-right: 1rem;

            @media (max-width: $lg-phone) {
              //   margin-right: 0.5rem;
            }
            input {
              margin-right: 0.2rem;
            }
          }
        }
      }

      .email {
        width: 100%;
        input {
          width: 65%;
        }
      }

      .address1 {
        width: 100%;
        input {
          width: 74%;
        }
      }

      .address {
        display: flex;
        //   border: 1px solid red;

        .city {
          width: 35%;
          //  border: 1px solid red;
          //  @media (max-width: $lg-phone) {
          //    //   margin-right: 0.5rem;
          //    width: 30%;
          //  }

          input {
            width: 75%;
            @media (max-width: $lg-phone) {
              //   margin-right: 0.5rem;
              width: 55%;
            }
          }
        }
        .state {
          width: 30%;
          //  border: 1px solid red;

          //  @media (max-width: $lg-phone) {
          //    //   margin-right: 0.5rem;
          //    width: 25%;
          //  }
          input {
            width: 75%;
            @media (max-width: $lg-phone) {
              //   margin-right: 0.5rem;
              width: 55%;
            }
          }
        }
        .zipcode {
          width: 35%;
          //  border: 1px solid red;
          input {
            width: 49%;
            @media (max-width: $lg-phone) {
              //   margin-right: 0.5rem;
              width: 35%;
            }
          }
        }
      }
    }
  }

  .property-info {
    //  font-size: 0.9rem;

    h3 {
      text-align: start;
      margin: 1.5rem 0 0.5rem;
    }

    .house {
      // border: 1px solid red;
      display: flex;

      label {
        margin-bottom: 1rem;

        input {
          width: 47%;
          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 35%;
          }
        }
      }
    }

    .construction-type {
      width: 96%;

      @media (max-width: $lg-phone) {
        //   margin-right: 0.5rem;
        width: 100%;
      }
      .year-built {
        display: flex;
        span {
          //  border: 1px solid blue;
          width: 25%;
          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 20%;
          }
        }

        .checkbox-wrapper {
          display: flex;
          justify-content: space-between;
          width: 75%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            //   margin-right: 0.5rem;
            width: 80%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .ceiling-type {
      width: 97%;

      @media (max-width: $lg-phone) {
        //   margin-right: 0.5rem;
        width: 100%;
      }

      .year-built {
        display: flex;
        span {
          //  border: 1px solid blue;
          width: 25%;

          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 20%;
          }
        }

        .checkbox-wrapper {
          display: flex;
          justify-content: space-between;
          width: 60%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            //   margin-right: 0.5rem;
            width: 80%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .ceiling-condition {
      width: 97%;

      @media (max-width: $lg-phone) {
        //   margin-right: 0.5rem;
        width: 100%;
      }

      .year-built {
        display: flex;
        span {
          //  border: 1px solid blue;
          width: 25%;
          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 20%;
          }
        }

        .checkbox-wrapper {
          display: flex;
          justify-content: space-between;
          width: 50%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            //   margin-right: 0.5rem;
            width: 75%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .sombreado-techo {
      width: 97%;

      @media (max-width: $lg-phone) {
        //   margin-right: 0.5rem;
        width: 100%;
      }

      .year-built {
        display: flex;
        span {
          //  border: 1px solid blue;
          width: 25%;
          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 21%;
          }
        }

        .checkbox-wrapper {
          display: flex;
          justify-content: space-between;
          width: 33%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            //   margin-right: 0.5rem;
            width: 50%;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .pool {
      width: 97%;

      .year-built {
        display: flex;
        span {
          width: 25%;
          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 22%;
          }
        }

        .checkbox-wrapper {
          display: flex;
          justify-content: space-between;
          width: 15%;
          margin-bottom: 1rem;

          @media (max-width: $m-laptop) {
            //   margin-right: 0.5rem;
            width: 25%;
            // margin-bottom: 1.5rem;
          }

          label {
            margin-right: 0.5rem;
            input {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    .gate {
      margin-bottom: 1rem;

      span {
        font-weight: bold;
      }
    }

    .HOA {
      // color: red;
      display: flex;
      margin-bottom: 1.5rem;
      span {
        margin-right: 1.5rem;
        font-weight: bold;

        @media (max-width: $lg-phone) {
          //   margin-right: 0.5rem;
          margin-right: 0.7rem;
        }
      }

      .yes-hoa {
        margin-right: 0.7rem;
        font-weight: bold;
        input {
          margin-right: 0.3rem;
          font-weight: normal;
          //  color: red;
        }
      }

      .hoa-info {
        width: 54%;

        margin-bottom: 4rem;

        @media (max-width: $lg-phone) {
          //   margin-right: 0.5rem;
          margin-bottom: 2rem;
        }
        input {
          width: 79%;

          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 47%;
          }
        }
      }

      .important {
        font-weight: bold;

        #hoa-phone {
          //  border-bottom: 1px solid red;
          @media (max-width: $lg-phone) {
            //   margin-right: 0.5rem;
            width: 70%;
          }
        }
      }
    }

    /// inside here
  }

  .power-info {
    //  font-size: 0.9rem;
    //  border: 1px solid red;
    h3 {
      text-align: start;
      margin: 1rem 0;
    }

    .if-panel-close {
      margin-bottom: 1rem;
      span {
        margin-right: 1rem;
      }

      label {
        margin-right: 0.5rem;
        input {
          margin-right: 0.3rem;
        }
      }
    }

    .description-if-panel-close {
      margin-bottom: 1rem;
      label {
        width: 99%;
        input {
          width: 100%;
        }
      }
    }

    .electric-panel-size {
      margin-bottom: 4rem;

      display: flex;

      @media (max-width: $lg-phone) {
        //   margin-right: 0.5rem;
        margin-bottom: 2rem;
      }
      span {
        //   color: red;
        font-weight: bold;
        width: 45%;
        margin-bottom: 0;

        @media (max-width: $lg-phone) {
          //   margin-right: 0.5rem;
          width: 80%;
        }
      }

      label {
        input {
          width: 15%;
        }
      }
    }
  }

  // AC-INFORMATION
  .ac-information {
    //  font-size: 0.9rem;
    //  border: 1px solid red;

    h3 {
      text-align: start;
      margin-bottom: 1rem;
    }

    .how-many-acs-wrapper {
      label {
        margin-bottom: 1rem;
        display: block;

        input {
          width: 10%;
        }
      }
    }

    .type-of-header {
      margin-bottom: 1rem;
      span {
        margin-right: 1rem;
      }
      label {
        margin-right: 0.5rem;
        input {
          margin-right: 0.3rem;
        }
      }
    }

    .have-solar-panels {
      margin-bottom: 3rem;
      span {
        margin-right: 1rem;
      }
      label {
        margin-right: 0.5rem;
        input {
          margin-right: 0.3rem;
        }
      }
    }
  }

  // POWER-BILL- INFORMATION
  .power-bill-info {
    //  font-size: 0.9rem;

    h3 {
      text-align: start;
      margin-bottom: 1rem;
    }
    label {
      margin-right: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;
      input {
        width: 60%;
        //   margin-right: 0.3rem;
        margin-left: 0.5rem;
        @media (max-width: $lg-phone) {
          //   margin-right: 0.5rem;
          width: 80%;
          margin-left: 0;
        }
      }
    }
  }

  .update-file {
    //  border: 1px solid red;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    input {
      border: none;
      cursor: pointer;
    }
  }
}

// THIS HANDLES YEARLY INFORMATION
.yearly-information {
  border: 1px solid grey;
  max-width: 420px;
  margin-bottom: 1rem;

  .month-cost {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: rgb(207, 204, 204);

    span {
      padding: 0.4rem 0rem;
      width: 34%;

      &:nth-child(1) {
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
      }
      &:nth-child(2) {
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
      }
      &:nth-child(3) {
        border-bottom: 1px solid grey;
      }
    }
  }

  .month-and-values {
    .months-container {
      display: flex;
      justify-content: space-between;

      align-items: flex-end;

      span {
        width: 34%;
        text-align: center;
        padding-top: 0.1rem;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        padding-right: 0.1rem;
        padding: 0.2rem 0rem;
      }
      label {
        width: 34%;
        text-align: center;

        input {
          padding-top: 0.6rem;
          background: transparent;
          width: 100%;
          border-bottom: 1px solid grey;
          border-right: 1px solid grey;
        }
      }
      .border {
        border-right: none;
      }

      #diciembre,
      #diciembre-cost {
        border-bottom: none;
      }
      .diciembre {
        border-bottom: none;
      }
    }
  }
}

#upload-img-btn {
  .btn-wrapper {
    span {
      font-size: 0.7rem;
      // padding: 0.1rem 1.5rem;
      box-shadow: none;
      border-radius: 4px;

      @media (max-width: $lg-phone) {
        //   margin-right: 0.5rem;
        font-size: 0.6rem;
      }

      &:hover {
        //  background: none;
        box-shadow: none;
        background: rgb(224, 223, 223);
      }
    }
  }
}

.desc-about-imgs {
  //   text-transform: uppercase;
  margin-top: 2rem;
}

.upload-imgs-container {
  //   border: 1px solid red;

  margin: 2rem 0 1rem;
  display: flex;
  width: 75%;

  justify-content: space-between;

  @media (max-width: $lg-phone) {
    //   margin-right: 0.5rem;
    flex-wrap: wrap;
  }
}

.submit-form {
  margin: 2rem 0 4rem;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-size: 0.7rem;
  background: #3f58a6;
  color: white;
  border: none;
  cursor: pointer;
}
