.Navbar {
  //  background: rgb(31, 30, 30);
  transition: background 0.5s ease;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .inner-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 1.5rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    //  position: fixed;
    //  top: 0;
    //  left: 0;
    //  right: 0;

    @media (max-width: $med-desktop) {
      max-width: 85%;
    }

    .logo {
      // border: 1px solid blue;
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;

        @media (max-width: $med-phone) {
          width: 45px;
          height: 45px;
        }
      }
      span {
        //   text-transform: uppercase;
        margin-left: 0.7rem;
        font-size: 1.5rem;
        //   font-weight: 00;
        color: #f4f4f4;
        font-family: "Noto Sans", sans-serif;

        @media (max-width: $med-phone) {
          font-size: 1.3rem;
        }
      }
    }

    nav {
      display: flex;
      align-items: center;

      @media (max-width: $laptop) {
        display: none;
      }
      a {
        //   border: 1px solid red;
        margin-right: 1.5rem;
        //   padding: 0.4rem;
        //   font-size: 1rem;
        //   font-weight: 300;

        color: #f4f4f4;
        //   font-weight: bold;
        transition: color 0.3s ease;
        font-size: 0.9rem;

        &:hover {
          color: #d0d1d4;
        }

        &:last-child {
          margin-right: 0;
          //  border: 1px solid red;
          //  padding: 0.3rem 1.3rem;
          //  //  font-weight: 300;
          //  background: #3f58a6;
        }
      }
    }
  }
}
.scroll {
  background: red;
  background: rgb(6, 6, 6);
  background: rgba(63, 88, 166, 0.9);
  //   background: rgb(63, 88, 166);

  //   transition: background 0.5s ease;
}
