.ResetPassword {
  background: rgba(48, 78, 133, 0.4);
  padding: 20rem 0 30rem;

  @media (max-width: $lg-phone) {
    padding: 20rem 0 30rem;
  }

  @media (max-width: $galaxy) {
    padding: 10rem 0 10rem;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: $black;

    @media (max-width: $lg-phone) {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  form {
    width: 400px;
    margin: 0 auto;

    @media (max-width: $lg-phone) {
      width: 90%;
    }

    label {
      width: 100%;
      position: relative;

      input {
        @include inputProps(1rem);
      }

      .error {
        @include error(3.2rem);
      }

      .eye {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        @media (max-width: $lg-phone) {
          top: 0.5rem;
        }
      }
    }

    button {
      @include mainButton(0.5rem 1.5rem);
    }
  }
}
