// change widht of navbar at 1450px
// change to mobile navbar at 800px

$med-desktop: 1450px;
$sm-desktop: 1180px;
$s-laptop: 900px;
$m-laptop: 850px;
$laptop: 800px;
$lg-phone: 650px;
$med-phone: 500px;

// when it gets to 1450px width change the width of all container to 85%;
// 0.9rem font size for p tags,
// margin-bottom 1.5rem

// 0.8rem for a tags
