// change widht of navbar at 1450px
// change to mobile navbar at 800px

$med-desktop: 1450px;
$laptop: 800px;
$med-phone: 500px;

// when it gets to 1450px width change the width of all container to 85%;
